.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App > main {
  flex: 1;
  line-height: 1.5;
}

.App > header {
  background-color: #7d0000;
  color: #fcfaf1;
}

.App > nav {
  background-color: #222;
}

.App > main p {
  color: #444;
}

.App > footer {
  background-color: #7d0000;
  color: #e0dfda;
}

section {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
